package routes

templ Index(title string, component templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<link href="/build/output.css" rel="stylesheet"/>
		</head>
		<body>
			@component
		</body>
	</html>
}
